<div class="comments">
    {{!-- the "this" will apply to every property in the partial because it is looping over --}}
    {{#each this}}
    <section class="comment">
        <div class="meta">
            {{!-- format_date created_at is the same as format_date(created_at) --}}
            {{user.username}} on {{format_date created_at}}
        </div>
        <div class="text">
            {{comment_text}}
        </div>
    </section>
    {{/each}}
</div>